# HR Analytics

### Imporing Libraries

In [14]:
import numpy as np
import pandas as pd
import sys
import os

### Step 1: Loading the data

In [16]:
# Paths
DATA_DIR = "data"
INPUT_CSV = os.path.join(DATA_DIR, "HR_Analytics,csv")

#load
df = pd.read_csv("HR_Analytics.csv")

# Quick peek
print("Rows, columns:", df.shape)
display(df.head())
display(df.info())
display(df.describe(include='all').T)

Rows, columns: (1470, 35)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

None

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Age,1470.0,NaN,NaN,NaN,36.92381,9.135373,18.0,30.0,36.0,43.0,60.0
Attrition,1470,2,No,1233,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BusinessTravel,1470,3,Travel_Rarely,1043,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DailyRate,1470.0,NaN,NaN,NaN,802.485714,403.5091,102.0,465.0,802.0,1157.0,1499.0
Department,1470,3,Research & Development,961,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DistanceFromHome,1470.0,NaN,NaN,NaN,9.192517,8.106864,1.0,2.0,7.0,14.0,29.0
Education,1470.0,NaN,NaN,NaN,2.912925,1.024165,1.0,2.0,3.0,4.0,5.0
EducationField,1470,6,Life Sciences,606,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeCount,1470.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
EmployeeNumber,1470.0,NaN,NaN,NaN,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,NaN,NaN,NaN,2.721769,1.093082,1.0,2.0,3.0,4.0,4.0
Gender,1470,2,Male,882,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HourlyRate,1470.0,NaN,NaN,NaN,65.891156,20.329428,30.0,48.0,66.0,83.75,100.0
JobInvolvement,1470.0,NaN,NaN,NaN,2.729932,0.711561,1.0,2.0,3.0,3.0,4.0
JobLevel,1470.0,NaN,NaN,NaN,2.063946,1.10694,1.0,1.0,2.0,3.0,5.0
JobRole,1470,9,Sales Executive,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobSatisfaction,1470.0,NaN,NaN,NaN,2.728571,1.102846,1.0,2.0,3.0,4.0,4.0
MaritalStatus,1470,3,Married,673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyIncome,1470.0,NaN,NaN,NaN,6502.931293,4707.956783,1009.0,2911.0,4919.0,8379.0,19999.0
MonthlyRate,1470.0,NaN,NaN,NaN,14313.103401,7117.786044,2094.0,8047.0,14235.5,20461.5,26999.0
NumCompaniesWorked,1470.0,NaN,NaN,NaN,2.693197,2.498009,0.0,1.0,2.0,4.0,9.0
Over18,1470,1,Y,1470,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OverTime,1470,2,No,1054,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PercentSalaryHike,1470.0,NaN,NaN,NaN,15.209524,3.659938,11.0,12.0,14.0,18.0,25.0
PerformanceRating,1470.0,NaN,NaN,NaN,3.153741,0.360824,3.0,3.0,3.0,3.0,4.0
RelationshipSatisfaction,1470.0,NaN,NaN,NaN,2.712245,1.081209,1.0,2.0,3.0,4.0,4.0
StandardHours,1470.0,NaN,NaN,NaN,80.0,0.0,80.0,80.0,80.0,80.0,80.0
StockOptionLevel,1470.0,NaN,NaN,NaN,0.793878,0.852077,0.0,0.0,1.0,1.0,3.0
TotalWorkingYears,1470.0,NaN,NaN,NaN,11.279592,7.780782,0.0,6.0,10.0,15.0,40.0
TrainingTimesLastYear,1470.0,NaN,NaN,NaN,2.79932,1.289271,0.0,2.0,3.0,3.0,6.0
WorkLifeBalance,1470.0,NaN,NaN,NaN,2.761224,0.706476,1.0,2.0,3.0,3.0,4.0
YearsAtCompany,1470.0,NaN,NaN,NaN,7.008163,6.126525,0.0,3.0,5.0,9.0,40.0
YearsInCurrentRole,1470.0,NaN,NaN,NaN,4.229252,3.623137,0.0,2.0,3.0,7.0,18.0
YearsSinceLastPromotion,1470.0,NaN,NaN,NaN,2.187755,3.22243,0.0,0.0,1.0,3.0,15.0
YearsWithCurrManager,1470.0,NaN,NaN,NaN,4.123129,3.568136,0.0,2.0,3.0,7.0,17.0

### Step 2: Data Cleaning & Feature Engineering

In [20]:
# Copy dataframe
df_clean = df.copy()

# Drop redundant columns
drop_cols = ['EmployeeCount', 'Over18', 'StandardHours', 'EmployeeNumber']
df_clean.drop(columns=drop_cols, inplace=True, errors='ignore')

# --- Standardize column names (snake_case) ---
df_clean.columns = (
    df_clean.columns
    .str.strip()
    .str.replace(' ', '_')
    .str.replace('-', '_')
    .str.lower()
)

# Attrition binary flag
df_clean['attrition_flag'] = df_clean['attrition'].apply(lambda x: 1 if x.strip().lower() == 'yes' else 0)

# Tenure category (Years at Company)
df_clean['tenure_category'] = pd.cut(
    df_clean['yearsatcompany'],
    bins=[0, 2, 5, 10, 20, np.inf],
    labels=['0-2 yrs', '3-5 yrs', '6-10 yrs', '11-20 yrs', '20+ yrs']
)

# Age groups
df_clean['age_group'] = pd.cut(
    df_clean['age'],
    bins=[18, 25, 35, 45, 55, 65],
    labels=['18-25', '26-35', '36-45', '46-55', '56-65']
)

# Income category
df_clean['income_category'] = pd.cut(
    df_clean['monthlyincome'],
    bins=[0, 3000, 6000, 10000, 15000, np.inf],
    labels=['Low', 'Mid', 'Upper-Mid', 'High', 'Very High']
)

# Performance label
df_clean['performance_level'] = df_clean['performancerating'].map({
    1: 'Poor',
    2: 'Average',
    3: 'Good',
    4: 'Excellent'
}).fillna('Unknown')

# --- Handle categorical consistency ---
for col in df_clean.select_dtypes(include='object'):
    df_clean[col] = df_clean[col].str.strip().str.title()

# --- Quick sanity check ---
print("After cleaning, dataset shape:", df_clean.shape)
print("\nColumns available now:\n", df_clean.columns.tolist()[:15], "...")

# --- Check sample rows to verify new columns ---
display(df_clean[['age', 'age_group', 'yearsatcompany', 'tenure_category', 'monthlyincome', 'income_category', 'performancerating', 'performance_level', 'attrition', 'attrition_flag']].head(10))

After cleaning, dataset shape: (1470, 36)

Columns available now:
 ['age', 'attrition', 'businesstravel', 'dailyrate', 'department', 'distancefromhome', 'education', 'educationfield', 'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement', 'joblevel', 'jobrole', 'jobsatisfaction'] ...

,age,age_group,yearsatcompany,tenure_category,monthlyincome,income_category,performancerating,performance_level,attrition,attrition_flag
0,41,36-45,6,6-10 yrs,5993,Mid,3,Good,Yes,1
1,49,46-55,10,6-10 yrs,5130,Mid,4,Excellent,No,0
2,37,36-45,0,NaN,2090,Low,3,Good,Yes,1
3,33,26-35,8,6-10 yrs,2909,Low,3,Good,No,0
4,27,26-35,2,0-2 yrs,3468,Mid,3,Good,No,0
5,32,26-35,7,6-10 yrs,3068,Mid,3,Good,No,0
6,59,56-65,1,0-2 yrs,2670,Low,4,Excellent,No,0
7,30,26-35,1,0-2 yrs,2693,Low,4,Excellent,No,0
8,38,36-45,9,6-10 yrs,9526,Upper-Mid,4,Excellent,No,0
9,36,36-45,7,6-10 yrs,5237,Mid,3,Good,No,0

### Step 3: Exporting Dataset

In [22]:
# --- Export cleaned dataset for Power BI ---
clean_csv_path = "C:/Users/komal/Desktop/VS Code C/cleaned_dataset.csv"
df_clean.to_csv(clean_csv_path, index=False)
print(f"\n✅ Cleaned dataset saved for Power BI: {clean_csv_path}")

✅ Cleaned dataset saved for Power BI: C:/Users/komal/Desktop/VS Code C/cleaned_dataset.csv